* {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}
#up {
  margin-top: -10%;
  margin-left: 75%;
  margin-bottom: 10px;
  background: none;
  border: none;
  cursor: pointer;
}
/* #form {
  background-color: white;
} */
ul{
  list-style-type: none;
}
li{
  display: flex;
  flex-direction: row;
}
.main {
  width: 25%;
    height: 60%;
    margin: auto;
    margin-top: 345px;
    margin-left: 795px; 
    background-color: white;
    border: 1px;
    /* border-color: rgba(128, 128, 128, 0.44); */
    border-color: white;
    border-radius: 15px;
    border-width: 2px;
    border-style: groove;
    border-radius: 10px;
    min-width: 450px;
    min-height: 300px;
    transform: translate(-50%,-50%); 
    border-top: 35px solid #FFDC40;  
}

.container {
  border-radius: 5px;
  width: 100%;
}

h2 {
  font-family: 'Roboto', sans-serif;
    font-style: solid Black;
    font-size: 40px;
    padding-top: -5%;
    padding-left: 5%;
    text-align: Center; 
     font-weight: 900;
     margin-top: 5%;
     margin-bottom: 5%;
}

#text-input-field {
  width:200px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  border-style: none;
    height: 45px;
    margin-top: 3px;
    padding-top: 2%;
    padding-left: 8%;
    padding-bottom: 0px;
    background-color: white;
    
    border-radius: 15px;
    border-width: 0px;
    border-left: 0%;
    
}

#add-button {
    position: relative;
    margin-top: 30px;
    margin-left: 28%;
    margin-bottom: 20px;
    padding-bottom: 0%;
    background: none;
    border: none;
    cursor: pointer;
}

.todo-item-container {
  height: 55px;
  width:340px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-left: 12%;
    background-color: white;
    border: 1px;
    
    border-radius: 15px;
    border-width: 2px;
    border-style: groove;
    border-left: 0%;
    display: flex;
    flex-direction: row;
    border-color: aliceblue;
}

#todo-text {
  font-size:20px;
  letter-spacing: 1.5px;
  padding-left: 40px;
  user-select: none;
}

.line-through {
  text-decoration: line-through;
  color: gray;

}

#delete-button {
    margin-top: 8px;
    margin-left: 80px;
    background: none;
    border: none;
    cursor: pointer;
    width:50px;
}